.DS_Store
/.hugo_build.lock
/.cache/
/_site/
/node_modules/
/resources/

# Editor folders
/.vscode/

# Release zip files
bootstrap-icons-*.zip

/blazor/.vs/
/blazor/twittericons/bin
/blazor/twittericons/obj
/blazor/twittericons.codegen/bin/
/blazor/twittericons.codegen/obj/
